<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>

   <script type="text/javascript">console.log('-------------------\n\n\n\n\n')</script>

   <script type="text/javascript" src="/static/scripts/lib/jquery.js"></script>
	<script type="text/javascript" src="/static/scripts/lib/vue.js"></script>
   <script type="text/javascript" src="/static/scripts/lib/vuex.js"></script>

   <link rel="stylesheet" type="text/css" href="/static/stylesheets/style.css">


	<style id="antiClickjack">body{display:none !important;}</style>
    <script type="text/javascript">
         if (self === top) {
            var antiClickjack = document.getElementById("antiClickjack");
            antiClickjack.parentNode.removeChild(antiClickjack);
         } else {
            top.location = self.location;
         }
    </script>

</head>
<body>
	{{{body}}}
</body>
</html>