{{{{vue-js}}}}

<div id="app">
	<status-bar></status-bar>
	<pages :initial-index="0">
		<page :title="'Home'" :icon="'home'">
			<info></info>
		</page>
		<page :title="'Players'" :icon="'users'">
			<players-management></players-management>
		</page>
		<page :title="'Vehicles'" :icon="'car'">
			<vehicles-management></vehicles-management>
		</page>
		<page :title="'Roles'" :icon="'crown'">
			<roles-management></roles-management>
		</page>
		<page :title="'Rules'" :icon="'task-o'">
			<rules-management></rules-management>
		</page>
		<page :title="'Preferences'" :icon="'control-panel'">
			<preferences-management></preferences-management>
		</page>
		<page :title="'Game Settings'" :icon="'wrench'">
			<gamesettings-management></gamesettings-management>
		</page>
		<page :title="'Logs'" :icon="'note-o'">
			<logs-management></logs-management>
		</page>
	</pages>

</div>

{{{{/vue-js}}}}

<p>test</p>

<script type="text/javascript">
	const store = Vuex.createStore({
		state: {
			status: {
				message: undefined,
				clazz:undefined
			},

			players: {
				'x32' /* steam_id */ : {
					name: 'Pony',
					roles: {
						Admin: true
					},
					peer_id: 1
				},
				'x64': {
					name: 'Carsa',
					roles: {
						Owner: true
					}
				},
				'x99': {
					name: 'aBannedUser',
					roles: {
						Owner: true
					}
				}
			},

			vehicles: {
				1 /* vehicle_id */: {
					owner: 'x32',//steam_id
					name: 'Bus',
					ui_id: 'ui_id'
				}
			},

			roles: {
				Owner: {
					commands: {
						ban: true,
						unban: true
					},
					admin: true,
					auth: true,
					members: [
						'x64'
					]
				},
				Admin: {
					commands: {
						unban: true
					},
					admin: true,
					auth: true,
					members: [
						'x32'
					]
				},
				Friends: {
					commands: {
						ban: true
					},
					admin: false,
					auth: true,
					members: [
						'x32',
						'x99'
					]
				}
			},

			rules: [
				'dont be a dick',
				'help out'
			],

			preferences: {
				cheats: {
					value: false,
					type: 'bool'
				},
				maxMass : {
					value: 1000,
					type: 'number'
				},
				welcomeNew : {
					value: 'Welcome to this Stormworks server!',
					type: 'string'
				},
				startEquipment : {
					value: [
						{id: 15, slot: 'B', data1: 1},
						{id: 6, slot: 'C'},
						{id: 11, slot: 'E', data1: 3},
					],
					type: 'table'
				}
			},

			gamesettings: {
				npc_damage: true, /* right now only supports booleans but will have numbers in the future */
				auto_save: false,
				test_number: 5
			},

			bannedplayers: {
				"x99": "x64"
			},

			logs: [
				{
					time: new Date().getTime(),
					message: 'server started'
				},{
					time: new Date().getTime(),
					message: 'fondling ponies'
				},{
					time: new Date().getTime(),
					message: 'loading lasers'
				}
			],

			allCommands: {
				ban: {

				},
				unban : {

				},
				orderFood: {

				}
			}
		},
		mutations: {
			setPlayers (state, players){
				state.players = players
			},
			test (state){
				state.roles.Owner.auth = false
			},
			setStatus(state, status){
				state.status = status
			},
			setC2Version(state, version){
				state.C2_VERSION = version
			},
			setC2Commit(state, _commit){
				state.C2_COMMIT = _commit
			}
			/*,
			addTab (state, tab){
				state.tabs.push(tab)
			}*/
		},
		actions: {
			setPlayers ({ commit }, players){
				commit('setPlayers', players)
			},
			test ({commit}){
				commit('test')
			},
			setStatus({commit}, status){
				commit('setStatus', status)
			},
			setC2Version({commit}, version){
				commit('setC2Version', version)
			},
			setC2Commit({commit}, _commit){
				commit('setC2Commit', _commit)
			}
			/*,
			switchTab ({commit}, tab){
				commit('switchTab', tab)
			},
			addTab ({ commit }, tab){
				commit('addTab', tab)
			}*/
		},

		getters: {//TODO do this for EVERY state.xyz and make replace every components use of `this.$store.state.xyz` with `this.$store.getters.xyz`
			C2_VERSION: state =>{
				return state.C2_VERSION
			},
			C2_COMMIT: state =>{
				return state.C2_COMMIT
			},
			players: state => {
				return state.players
			}
		}
	})

	let app = Vue.createApp({//TODO: what the fuck am i doing here? We probably should move this into the components, so they use provide/inject, or directly access the vuex store (that's why we have it don't we?)
		computed: {
			tabs (){
				return store.state.tabs
			},
			currentTab (){
				return store.state.currentTab
			},
			activeTabClass (){
				return store.state.activeTabClass
			},
		}
	})

	app.use(store)

	$(window).on('load', ()=>{
		// TODO empty the store and get freshly synced data
		let vm = app.mount('#app')

		setTimeout(()=>{
			$.get('/static/version.txt', (data)=>{
				store.dispatch('setC2Version', data)
			})

			$.get('/static/commit.txt', (data)=>{
				store.dispatch('setC2Commit', data)
			})
		}, 1000)
	})


	/* TODO
	function registerTab(id, name, iconClass){
		store.dispatch('addTab', {
			id: id,
			name: name,
			iconClass: iconClass
		})
	}*/

</script>


<script type="text/javascript" src="/static/scripts/component_utility.js"></script>
<script type="text/javascript" src="/static/scripts/components.js"></script>

<script type="text/javascript" src="/static/scripts/websock.js"></script>
<script type="text/javascript" src="/static/scripts/c2webclient.js"></script>
