{{{{vue-js}}}}

<div id="app" style="width: 100vw; height: 100vh">
</div>

<label for="no-magic-reload" style="position: fixed; z-index: 99; top: 5px; right: 5px;">No Magic Reload<input id="no-magic-reload" autocomplete="off" type="checkbox" onchange="window.NO_MAGIC_PAGE_RELOAD = !window.NO_MAGIC_PAGE_RELOAD"></label>


{{{{/vue-js}}}}

<link rel="stylesheet" type="text/css" href="/static/stylesheets/c2.css">

<script type="text/javascript" src="/static/scripts/lib/jquery.js"></script>
<script type="text/javascript" src="/static/scripts/lib/vue.js"></script>
<script type="text/javascript" src="/static/scripts/lib/vuex.js"></script>

<script type="text/javascript" src="/static/scripts/c2.js"></script>
<script type="text/javascript" src="/static/scripts/c2_webclient.js"></script>
<script type="text/javascript" src="/static/scripts/c2_websock.js"></script>
<script type="text/javascript" src="/static/scripts/c2_utility_components.js"></script>
<script type="text/javascript" src="/static/scripts/c2_module_core_components.js"></script>
<script type="text/javascript" src="/static/scripts/c2_module_test_components.js"></script>

<script type="text/javascript">
	let c2 = new C2('#app')

	$(window).on('load', ()=>{
		$('<span style="position: fixed; top: 5px; left: 5em; z-index: 99">')
			.text(window.innerWidth + 'x' + window.innerHeight)
			.appendTo($('body'))
	})
</script>
