{{{{vue-js}}}}

<div class="app">
	<div class="sidebar">
		<div class="sidebar_entry" v-for="tab in tabs" v-bind:key="tab.id" v-bind:class="currentTab === tab.id ? activeTabClass : ''" v-on:click="currentTab = tab.id">
			<span class="im" v-bind:class="tab.iconClass"></span>
		</div>
	</div>

	<div class="tabs">
		<tab-players v-if="currentTab === 'players'" v-bind:players="players"></tab-players>
		<tab-logs v-if="currentTab === 'logs'" v-bind:logs="logs"></tab-logs>
	</div>

</div>

{{{{/vue-js}}}}

<p>test</p>

<script type="text/javascript">

	Vue.use(Vuex)

	const store = new Vuex.Store({
		state: {
			userPeerId: 0,//TODO: get this thing from the login token
			tabs: [{
				id: "players",
				name: "Players",
				iconClass: "im-user-male"
			},{
				id: "logs",
				name: "Logs",
				iconClass: "im-note-o"
			}],
			currentTab: "players",
			activeTabClass: 'active',

			players: [{
				id: 1,
				name: "Pony",
				steamid: "x64",
				roles: [{
					id: 0,
					name: 'Owner',
					isEnabled: false
				},{
					id: 1,
					name: 'Admin',
					isEnabled: true
				}]
			},{
				id: 2,
				name: "Carsa",
				steamid: "x32",
				roles: [{
					id: 0,
					name: 'owner',
					isEnabled: true
				},{
					id: 1,
					name: 'admin',
					isEnabled: true
				}]
			}],

			logs: [{
				time: new Date().getTime(),
				message: 'server started'
			},{
				time: new Date().getTime(),
				message: 'fondling ponies'
			},{
				time: new Date().getTime(),
				message: 'loading lasers'
			}]
		},
		computed: {
			userPeerId () {
				//TODO we need to calculate this with the help of the token the user uses to "login" to this page
			}
		},
		mutations: {
			setPlayers (state, players){
				state.players = players
			}
		},
		actions: {
			setPlayers ({ commit }, players){
				commit('setPlayers', players)
			}
		}

	})

	let vm = new Vue({
		el: '.app',
		store: store,
		computed: {
			tabs (){
				return store.state.tabs
			},
			currentTab (){
				return store.state.currentTab
			},
			activeTabClass (){
				return store.state.activeTabClass
			},
			players (){
				return store.state.players
			},
			logs (){
				return store.state.logs
			}
		}
	});

	$(window).on('load', ()=>{
		//C2WebClient.setVueData(vueData)
	})

</script>


<script type="text/javascript" src="/static/scripts/websock.js"></script>
<script type="text/javascript" src="/static/scripts/c2webclient.js"></script>
