{{{{vue-js}}}}

<div id="app" style="width: 100vw; height: 100vh">
</div>

<label for="no-magic-reload" style="position: fixed; z-index: 99; top: 5px; right: 5px;">No Magic Reload<input id="no-magic-reload" autocomplete="off" type="checkbox" onchange="window.NO_MAGIC_PAGE_RELOAD = !window.NO_MAGIC_PAGE_RELOAD"></label>


{{{{/vue-js}}}}

<link rel="stylesheet" type="text/css" href="/static/stylesheets/c2.css">

<script type="text/javascript" src="/static/scripts/lib/jquery.js"></script>
<script type="text/javascript" src="/static/scripts/lib/vue.js"></script>
<script type="text/javascript" src="/static/scripts/lib/vuex.js"></script>

<script type="text/javascript" src="/static/scripts/c2.js"></script>

<script type="text/javascript">
	let c2 = new C2('#app')
</script>
