/* line 5, ../../../../../../../Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*!
 * iconmonstr iconic font v1.3.0
 * Created by Alexander Kahlkopf - http://iconmonstr.com - @iconmonstr
 * License - http://iconmonstr.com/license
 */
@font-face {
  font-family: 'iconmonstr-iconic-font';
  src: url("../fonts/iconmonstr-iconic-font.ttf?v=1.3.0") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../../compass/sass/_iconic_font.scss */
.im {
  display: inline-block;
  font: normal normal normal 1em/1em 'iconmonstr-iconic-font';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 19, ../../compass/sass/_iconic_font.scss */
.im-angle-right:before {
  content: '\e001';
}

/* line 22, ../../compass/sass/_iconic_font.scss */
.im-angle-left:before {
  content: '\e002';
}

/* line 25, ../../compass/sass/_iconic_font.scss */
.im-angle-down:before {
  content: '\e003';
}

/* line 28, ../../compass/sass/_iconic_font.scss */
.im-angle-up:before {
  content: '\e004';
}

/* line 31, ../../compass/sass/_iconic_font.scss */
.im-angle-right-circle:before {
  content: '\e005';
}

/* line 34, ../../compass/sass/_iconic_font.scss */
.im-angle-left-circle:before {
  content: '\e006';
}

/* line 37, ../../compass/sass/_iconic_font.scss */
.im-angle-down-circle:before {
  content: '\e007';
}

/* line 40, ../../compass/sass/_iconic_font.scss */
.im-angle-up-circle:before {
  content: '\e008';
}

/* line 43, ../../compass/sass/_iconic_font.scss */
.im-arrow-right:before {
  content: '\e009';
}

/* line 46, ../../compass/sass/_iconic_font.scss */
.im-arrow-left:before {
  content: '\e00a';
}

/* line 49, ../../compass/sass/_iconic_font.scss */
.im-arrow-down:before {
  content: '\e00b';
}

/* line 52, ../../compass/sass/_iconic_font.scss */
.im-arrow-up:before {
  content: '\e00c';
}

/* line 55, ../../compass/sass/_iconic_font.scss */
.im-arrow-right-circle:before {
  content: '\e00d';
}

/* line 58, ../../compass/sass/_iconic_font.scss */
.im-arrow-left-circle:before {
  content: '\e00e';
}

/* line 61, ../../compass/sass/_iconic_font.scss */
.im-arrow-down-circle:before {
  content: '\e00f';
}

/* line 64, ../../compass/sass/_iconic_font.scss */
.im-arrow-up-circle:before {
  content: '\e010';
}

/* line 67, ../../compass/sass/_iconic_font.scss */
.im-care-right:before {
  content: '\e011';
}

/* line 70, ../../compass/sass/_iconic_font.scss */
.im-care-left:before {
  content: '\e012';
}

/* line 73, ../../compass/sass/_iconic_font.scss */
.im-care-down:before {
  content: '\e013';
}

/* line 76, ../../compass/sass/_iconic_font.scss */
.im-care-up:before {
  content: '\e014';
}

/* line 79, ../../compass/sass/_iconic_font.scss */
.im-forbidden:before {
  content: '\e015';
}

/* line 82, ../../compass/sass/_iconic_font.scss */
.im-printer:before {
  content: '\e016';
}

/* line 85, ../../compass/sass/_iconic_font.scss */
.im-menu:before {
  content: '\e017';
}

/* line 88, ../../compass/sass/_iconic_font.scss */
.im-menu-list:before {
  content: '\e018';
}

/* line 91, ../../compass/sass/_iconic_font.scss */
.im-quote-left:before {
  content: '\e019';
}

/* line 94, ../../compass/sass/_iconic_font.scss */
.im-quote-right:before {
  content: '\e01a';
}

/* line 97, ../../compass/sass/_iconic_font.scss */
.im-bell:before {
  content: '\e01b';
}

/* line 100, ../../compass/sass/_iconic_font.scss */
.im-bell-off:before {
  content: '\e01c';
}

/* line 103, ../../compass/sass/_iconic_font.scss */
.im-bookmark:before {
  content: '\e01d';
}

/* line 106, ../../compass/sass/_iconic_font.scss */
.im-briefcase:before {
  content: '\e01e';
}

/* line 109, ../../compass/sass/_iconic_font.scss */
.im-calendar:before {
  content: '\e01f';
}

/* line 112, ../../compass/sass/_iconic_font.scss */
.im-photo-camera:before {
  content: '\e020';
}

/* line 115, ../../compass/sass/_iconic_font.scss */
.im-video-camera:before {
  content: '\e021';
}

/* line 118, ../../compass/sass/_iconic_font.scss */
.im-microphone:before {
  content: '\e022';
}

/* line 121, ../../compass/sass/_iconic_font.scss */
.im-check-mark:before {
  content: '\e023';
}

/* line 124, ../../compass/sass/_iconic_font.scss */
.im-check-mark-circle:before {
  content: '\e024';
}

/* line 127, ../../compass/sass/_iconic_font.scss */
.im-check-square-o:before {
  content: '\e025';
}

/* line 130, ../../compass/sass/_iconic_font.scss */
.im-check-square:before {
  content: '\e026';
}

/* line 133, ../../compass/sass/_iconic_font.scss */
.im-check-square-i:before {
  content: '\e027';
}

/* line 136, ../../compass/sass/_iconic_font.scss */
.im-square-o:before {
  content: '\e028';
}

/* line 139, ../../compass/sass/_iconic_font.scss */
.im-radio-button-circle-o:before {
  content: '\e029';
}

/* line 142, ../../compass/sass/_iconic_font.scss */
.im-radio-button-circle:before {
  content: '\e02a';
}

/* line 145, ../../compass/sass/_iconic_font.scss */
.im-circle-o:before {
  content: '\e02b';
}

/* line 148, ../../compass/sass/_iconic_font.scss */
.im-clock-o:before {
  content: '\e02c';
}

/* line 151, ../../compass/sass/_iconic_font.scss */
.im-cloud:before {
  content: '\e02d';
}

/* line 154, ../../compass/sass/_iconic_font.scss */
.im-cloud-download:before {
  content: '\e02e';
}

/* line 157, ../../compass/sass/_iconic_font.scss */
.im-cloud-upload:before {
  content: '\e02f';
}

/* line 160, ../../compass/sass/_iconic_font.scss */
.im-code:before {
  content: '\e030';
}

/* line 163, ../../compass/sass/_iconic_font.scss */
.im-speech-bubble:before {
  content: '\e031';
}

/* line 166, ../../compass/sass/_iconic_font.scss */
.im-speech-bubble-comment:before {
  content: '\e032';
}

/* line 169, ../../compass/sass/_iconic_font.scss */
.im-speech-bubble-comments:before {
  content: '\e033';
}

/* line 172, ../../compass/sass/_iconic_font.scss */
.im-copy:before {
  content: '\e034';
}

/* line 175, ../../compass/sass/_iconic_font.scss */
.im-credit-card:before {
  content: '\e035';
}

/* line 178, ../../compass/sass/_iconic_font.scss */
.im-crown:before {
  content: '\e036';
}

/* line 181, ../../compass/sass/_iconic_font.scss */
.im-database:before {
  content: '\e037';
}

/* line 184, ../../compass/sass/_iconic_font.scss */
.im-computer:before {
  content: '\e038';
}

/* line 187, ../../compass/sass/_iconic_font.scss */
.im-download:before {
  content: '\e039';
}

/* line 190, ../../compass/sass/_iconic_font.scss */
.im-upload:before {
  content: '\e03a';
}

/* line 193, ../../compass/sass/_iconic_font.scss */
.im-pencil:before {
  content: '\e03b';
}

/* line 196, ../../compass/sass/_iconic_font.scss */
.im-edit-off:before {
  content: '\e03c';
}

/* line 199, ../../compass/sass/_iconic_font.scss */
.im-play:before {
  content: '\e03d';
}

/* line 202, ../../compass/sass/_iconic_font.scss */
.im-pause:before {
  content: '\e03e';
}

/* line 205, ../../compass/sass/_iconic_font.scss */
.im-stop:before {
  content: '\e03f';
}

/* line 208, ../../compass/sass/_iconic_font.scss */
.im-eject:before {
  content: '\e040';
}

/* line 211, ../../compass/sass/_iconic_font.scss */
.im-previous:before {
  content: '\e041';
}

/* line 214, ../../compass/sass/_iconic_font.scss */
.im-next:before {
  content: '\e042';
}

/* line 217, ../../compass/sass/_iconic_font.scss */
.im-loop:before {
  content: '\e043';
}

/* line 220, ../../compass/sass/_iconic_font.scss */
.im-random:before {
  content: '\e044';
}

/* line 223, ../../compass/sass/_iconic_font.scss */
.im-menu-dot-h:before {
  content: '\e045';
}

/* line 226, ../../compass/sass/_iconic_font.scss */
.im-menu-dot-v:before {
  content: '\e046';
}

/* line 229, ../../compass/sass/_iconic_font.scss */
.im-mail:before {
  content: '\e047';
}

/* line 232, ../../compass/sass/_iconic_font.scss */
.im-info:before {
  content: '\e048';
}

/* line 235, ../../compass/sass/_iconic_font.scss */
.im-warning:before {
  content: '\e049';
}

/* line 238, ../../compass/sass/_iconic_font.scss */
.im-question:before {
  content: '\e04a';
}

/* line 241, ../../compass/sass/_iconic_font.scss */
.im-link:before {
  content: '\e04b';
}

/* line 244, ../../compass/sass/_iconic_font.scss */
.im-unlink:before {
  content: '\e04c';
}

/* line 247, ../../compass/sass/_iconic_font.scss */
.im-external-link:before {
  content: '\e04d';
}

/* line 250, ../../compass/sass/_iconic_font.scss */
.im-eye:before {
  content: '\e04e';
}

/* line 253, ../../compass/sass/_iconic_font.scss */
.im-eye-off:before {
  content: '\e04f';
}

/* line 256, ../../compass/sass/_iconic_font.scss */
.im-file:before {
  content: '\e050';
}

/* line 259, ../../compass/sass/_iconic_font.scss */
.im-file-o:before {
  content: '\e051';
}

/* line 262, ../../compass/sass/_iconic_font.scss */
.im-files-o:before {
  content: '\e052';
}

/* line 265, ../../compass/sass/_iconic_font.scss */
.im-video:before {
  content: '\e053';
}

/* line 268, ../../compass/sass/_iconic_font.scss */
.im-audio:before {
  content: '\e054';
}

/* line 271, ../../compass/sass/_iconic_font.scss */
.im-picture-o:before {
  content: '\e055';
}

/* line 274, ../../compass/sass/_iconic_font.scss */
.im-flag:before {
  content: '\e056';
}

/* line 277, ../../compass/sass/_iconic_font.scss */
.im-folder:before {
  content: '\e057';
}

/* line 280, ../../compass/sass/_iconic_font.scss */
.im-folder-open:before {
  content: '\e058';
}

/* line 283, ../../compass/sass/_iconic_font.scss */
.im-smiley-o:before {
  content: '\e059';
}

/* line 286, ../../compass/sass/_iconic_font.scss */
.im-frown-o:before {
  content: '\e05a';
}

/* line 289, ../../compass/sass/_iconic_font.scss */
.im-gear:before {
  content: '\e05b';
}

/* line 292, ../../compass/sass/_iconic_font.scss */
.im-globe:before {
  content: '\e05c';
}

/* line 295, ../../compass/sass/_iconic_font.scss */
.im-heart:before {
  content: '\e05d';
}

/* line 298, ../../compass/sass/_iconic_font.scss */
.im-home:before {
  content: '\e05e';
}

/* line 301, ../../compass/sass/_iconic_font.scss */
.im-inbox:before {
  content: '\e05f';
}

/* line 304, ../../compass/sass/_iconic_font.scss */
.im-key:before {
  content: '\e060';
}

/* line 307, ../../compass/sass/_iconic_font.scss */
.im-lock:before {
  content: '\e061';
}

/* line 310, ../../compass/sass/_iconic_font.scss */
.im-lock-open:before {
  content: '\e062';
}

/* line 313, ../../compass/sass/_iconic_font.scss */
.im-task-o:before {
  content: '\e063';
}

/* line 316, ../../compass/sass/_iconic_font.scss */
.im-filter:before {
  content: '\e064';
}

/* line 319, ../../compass/sass/_iconic_font.scss */
.im-light-bulb:before {
  content: '\e065';
}

/* line 322, ../../compass/sass/_iconic_font.scss */
.im-flash:before {
  content: '\e066';
}

/* line 325, ../../compass/sass/_iconic_font.scss */
.im-map-o:before {
  content: '\e067';
}

/* line 328, ../../compass/sass/_iconic_font.scss */
.im-location:before {
  content: '\e068';
}

/* line 331, ../../compass/sass/_iconic_font.scss */
.im-maximize:before {
  content: '\e069';
}

/* line 334, ../../compass/sass/_iconic_font.scss */
.im-minimize:before {
  content: '\e06a';
}

/* line 337, ../../compass/sass/_iconic_font.scss */
.im-fullscreen:before {
  content: '\e06b';
}

/* line 340, ../../compass/sass/_iconic_font.scss */
.im-mobile:before {
  content: '\e06c';
}

/* line 343, ../../compass/sass/_iconic_font.scss */
.im-phone:before {
  content: '\e06d';
}

/* line 346, ../../compass/sass/_iconic_font.scss */
.im-coin:before {
  content: '\e06e';
}

/* line 349, ../../compass/sass/_iconic_font.scss */
.im-banknote:before {
  content: '\e06f';
}

/* line 352, ../../compass/sass/_iconic_font.scss */
.im-paper-clip:before {
  content: '\e070';
}

/* line 355, ../../compass/sass/_iconic_font.scss */
.im-bar-chart:before {
  content: '\e071';
}

/* line 358, ../../compass/sass/_iconic_font.scss */
.im-plus:before {
  content: '\e072';
}

/* line 361, ../../compass/sass/_iconic_font.scss */
.im-minus:before {
  content: '\e073';
}

/* line 364, ../../compass/sass/_iconic_font.scss */
.im-plus-circle:before {
  content: '\e074';
}

/* line 367, ../../compass/sass/_iconic_font.scss */
.im-minus-circle:before {
  content: '\e075';
}

/* line 370, ../../compass/sass/_iconic_font.scss */
.im-undo:before {
  content: '\e076';
}

/* line 373, ../../compass/sass/_iconic_font.scss */
.im-redo:before {
  content: '\e077';
}

/* line 376, ../../compass/sass/_iconic_font.scss */
.im-rocket:before {
  content: '\e078';
}

/* line 379, ../../compass/sass/_iconic_font.scss */
.im-rss:before {
  content: '\e079';
}

/* line 382, ../../compass/sass/_iconic_font.scss */
.im-magnifier:before {
  content: '\e07a';
}

/* line 385, ../../compass/sass/_iconic_font.scss */
.im-magnifier-plus:before {
  content: '\e07b';
}

/* line 388, ../../compass/sass/_iconic_font.scss */
.im-magnifier-minus:before {
  content: '\e07c';
}

/* line 391, ../../compass/sass/_iconic_font.scss */
.im-share:before {
  content: '\e07d';
}

/* line 394, ../../compass/sass/_iconic_font.scss */
.im-shield:before {
  content: '\e07e';
}

/* line 397, ../../compass/sass/_iconic_font.scss */
.im-shopping-cart:before {
  content: '\e07f';
}

/* line 400, ../../compass/sass/_iconic_font.scss */
.im-sign-in:before {
  content: '\e080';
}

/* line 403, ../../compass/sass/_iconic_font.scss */
.im-sign-out:before {
  content: '\e081';
}

/* line 406, ../../compass/sass/_iconic_font.scss */
.im-spinner:before {
  content: '\e082';
}

/* line 409, ../../compass/sass/_iconic_font.scss */
.im-star:before {
  content: '\e083';
}

/* line 412, ../../compass/sass/_iconic_font.scss */
.im-star-half:before {
  content: '\e084';
}

/* line 415, ../../compass/sass/_iconic_font.scss */
.im-star-o:before {
  content: '\e085';
}

/* line 418, ../../compass/sass/_iconic_font.scss */
.im-sync:before {
  content: '\e086';
}

/* line 421, ../../compass/sass/_iconic_font.scss */
.im-table:before {
  content: '\e087';
}

/* line 424, ../../compass/sass/_iconic_font.scss */
.im-window-o:before {
  content: '\e088';
}

/* line 427, ../../compass/sass/_iconic_font.scss */
.im-windows-o:before {
  content: '\e089';
}

/* line 430, ../../compass/sass/_iconic_font.scss */
.im-thumb-up:before {
  content: '\e08a';
}

/* line 433, ../../compass/sass/_iconic_font.scss */
.im-thumb-down:before {
  content: '\e08b';
}

/* line 436, ../../compass/sass/_iconic_font.scss */
.im-x-mark:before {
  content: '\e08c';
}

/* line 439, ../../compass/sass/_iconic_font.scss */
.im-x-mark-circle:before {
  content: '\e08d';
}

/* line 442, ../../compass/sass/_iconic_font.scss */
.im-trash-can:before {
  content: '\e08e';
}

/* line 445, ../../compass/sass/_iconic_font.scss */
.im-user-male:before {
  content: '\e08f';
}

/* line 448, ../../compass/sass/_iconic_font.scss */
.im-user-female:before {
  content: '\e090';
}

/* line 451, ../../compass/sass/_iconic_font.scss */
.im-user-circle:before {
  content: '\e091';
}

/* line 454, ../../compass/sass/_iconic_font.scss */
.im-users:before {
  content: '\e092';
}

/* line 457, ../../compass/sass/_iconic_font.scss */
.im-volume:before {
  content: '\e093';
}

/* line 460, ../../compass/sass/_iconic_font.scss */
.im-volume-off:before {
  content: '\e094';
}

/* line 463, ../../compass/sass/_iconic_font.scss */
.im-wifi:before {
  content: '\e095';
}

/* line 466, ../../compass/sass/_iconic_font.scss */
.im-tools:before {
  content: '\e096';
}

/* line 469, ../../compass/sass/_iconic_font.scss */
.im-dashboard:before {
  content: '\e097';
}

/* line 472, ../../compass/sass/_iconic_font.scss */
.im-archive:before {
  content: '\e098';
}

/* line 475, ../../compass/sass/_iconic_font.scss */
.im-save:before {
  content: '\e099';
}

/* line 478, ../../compass/sass/_iconic_font.scss */
.im-floppy-disk:before {
  content: '\e09a';
}

/* line 481, ../../compass/sass/_iconic_font.scss */
.im-sitemap:before {
  content: '\e09b';
}

/* line 484, ../../compass/sass/_iconic_font.scss */
.im-toggle:before {
  content: '\e09c';
}

/* line 487, ../../compass/sass/_iconic_font.scss */
.im-tag:before {
  content: '\e09d';
}

/* line 490, ../../compass/sass/_iconic_font.scss */
.im-tags:before {
  content: '\e09e';
}

/* line 493, ../../compass/sass/_iconic_font.scss */
.im-wizard:before {
  content: '\e09f';
}

/* line 496, ../../compass/sass/_iconic_font.scss */
.im-book:before {
  content: '\e0a0';
}

/* line 499, ../../compass/sass/_iconic_font.scss */
.im-fire:before {
  content: '\e0a1';
}

/* line 502, ../../compass/sass/_iconic_font.scss */
.im-id-card:before {
  content: '\e0a2';
}

/* line 505, ../../compass/sass/_iconic_font.scss */
.im-note-o:before {
  content: '\e0a3';
}

/* line 508, ../../compass/sass/_iconic_font.scss */
.im-control-panel:before {
  content: '\e0a4';
}

/* line 511, ../../compass/sass/_iconic_font.scss */
.im-facebook:before {
  content: '\e0a5';
}

/* line 514, ../../compass/sass/_iconic_font.scss */
.im-facebook-like:before {
  content: '\e0a6';
}

/* line 517, ../../compass/sass/_iconic_font.scss */
.im-twitter:before {
  content: '\e0a7';
}

/* line 520, ../../compass/sass/_iconic_font.scss */
.im-amazon:before {
  content: '\e0a8';
}

/* line 523, ../../compass/sass/_iconic_font.scss */
.im-android-os:before {
  content: '\e0a9';
}

/* line 526, ../../compass/sass/_iconic_font.scss */
.im-apple-os:before {
  content: '\e0aa';
}

/* line 529, ../../compass/sass/_iconic_font.scss */
.im-windows-os:before {
  content: '\e0ab';
}

/* line 532, ../../compass/sass/_iconic_font.scss */
.im-linux-os:before {
  content: '\e0ac';
}

/* line 535, ../../compass/sass/_iconic_font.scss */
.im-chrome:before {
  content: '\e0ad';
}

/* line 538, ../../compass/sass/_iconic_font.scss */
.im-ie:before {
  content: '\e0ae';
}

/* line 541, ../../compass/sass/_iconic_font.scss */
.im-edge:before {
  content: '\e0af';
}

/* line 544, ../../compass/sass/_iconic_font.scss */
.im-firefox:before {
  content: '\e0b0';
}

/* line 547, ../../compass/sass/_iconic_font.scss */
.im-safari:before {
  content: '\e0b1';
}

/* line 550, ../../compass/sass/_iconic_font.scss */
.im-opera:before {
  content: '\e0b2';
}

/* line 553, ../../compass/sass/_iconic_font.scss */
.im-behance:before {
  content: '\e0b3';
}

/* line 556, ../../compass/sass/_iconic_font.scss */
.im-blogger:before {
  content: '\e0b4';
}

/* line 559, ../../compass/sass/_iconic_font.scss */
.im-flickr:before {
  content: '\e0b5';
}

/* line 562, ../../compass/sass/_iconic_font.scss */
.im-github:before {
  content: '\e0b6';
}

/* line 565, ../../compass/sass/_iconic_font.scss */
.im-google-plus:before {
  content: '\e0b7';
}

/* line 568, ../../compass/sass/_iconic_font.scss */
.im-instagram:before {
  content: '\e0b8';
}

/* line 571, ../../compass/sass/_iconic_font.scss */
.im-linkedin:before {
  content: '\e0b9';
}

/* line 574, ../../compass/sass/_iconic_font.scss */
.im-pinterest:before {
  content: '\e0ba';
}

/* line 577, ../../compass/sass/_iconic_font.scss */
.im-skype:before {
  content: '\e0bb';
}

/* line 580, ../../compass/sass/_iconic_font.scss */
.im-snapchat:before {
  content: '\e0bc';
}

/* line 583, ../../compass/sass/_iconic_font.scss */
.im-soundcloud:before {
  content: '\e0bd';
}

/* line 586, ../../compass/sass/_iconic_font.scss */
.im-stackoverflow:before {
  content: '\e0be';
}

/* line 589, ../../compass/sass/_iconic_font.scss */
.im-stumbleupon:before {
  content: '\e0bf';
}

/* line 592, ../../compass/sass/_iconic_font.scss */
.im-tumblr:before {
  content: '\e0c0';
}

/* line 595, ../../compass/sass/_iconic_font.scss */
.im-xing:before {
  content: '\e0c1';
}

/* line 598, ../../compass/sass/_iconic_font.scss */
.im-youtube:before {
  content: '\e0c2';
}

/* line 601, ../../compass/sass/_iconic_font.scss */
.im-reddit:before {
  content: '\e0c3';
}

/* line 604, ../../compass/sass/_iconic_font.scss */
.im-vimeo:before {
  content: '\e0c4';
}

/* line 607, ../../compass/sass/_iconic_font.scss */
.im-vk:before {
  content: '\e0c5';
}

/* line 610, ../../compass/sass/_iconic_font.scss */
.im-whatsapp:before {
  content: '\e0c6';
}

/* line 613, ../../compass/sass/_iconic_font.scss */
.im-paypal:before {
  content: '\e0c7';
}

/* line 616, ../../compass/sass/_iconic_font.scss */
.im-twitch:before {
  content: '\e0c8';
}

/* line 619, ../../compass/sass/_iconic_font.scss */
.im-drop:before {
  content: '\e0c9';
}

/* line 622, ../../compass/sass/_iconic_font.scss */
.im-sun:before {
  content: '\e0ca';
}

/* line 625, ../../compass/sass/_iconic_font.scss */
.im-certificate-o:before {
  content: '\e0cb';
}

/* line 628, ../../compass/sass/_iconic_font.scss */
.im-graduation-hat:before {
  content: '\e0cc';
}

/* line 631, ../../compass/sass/_iconic_font.scss */
.im-store:before {
  content: '\e0cd';
}

/* line 634, ../../compass/sass/_iconic_font.scss */
.im-pin:before {
  content: '\e0ce';
}

/* line 637, ../../compass/sass/_iconic_font.scss */
.im-navigation:before {
  content: '\e0cf';
}

/* line 640, ../../compass/sass/_iconic_font.scss */
.im-keyboard:before {
  content: '\e0d0';
}

/* line 643, ../../compass/sass/_iconic_font.scss */
.im-cursor:before {
  content: '\e0d1';
}

/* line 646, ../../compass/sass/_iconic_font.scss */
.im-monitor-o:before {
  content: '\e0d2';
}

/* line 649, ../../compass/sass/_iconic_font.scss */
.im-laptop-o:before {
  content: '\e0d3';
}

/* line 652, ../../compass/sass/_iconic_font.scss */
.im-power:before {
  content: '\e0d4';
}

/* line 655, ../../compass/sass/_iconic_font.scss */
.im-pie-chart:before {
  content: '\e0d5';
}

/* line 658, ../../compass/sass/_iconic_font.scss */
.im-line-chart-up:before {
  content: '\e0d6';
}

/* line 661, ../../compass/sass/_iconic_font.scss */
.im-clock:before {
  content: '\e0d7';
}

/* line 664, ../../compass/sass/_iconic_font.scss */
.im-flip-chart-o:before {
  content: '\e0d8';
}

/* line 667, ../../compass/sass/_iconic_font.scss */
.im-gift:before {
  content: '\e0d9';
}

/* line 670, ../../compass/sass/_iconic_font.scss */
.im-leaf:before {
  content: '\e0da';
}

/* line 673, ../../compass/sass/_iconic_font.scss */
.im-bug:before {
  content: '\e0db';
}

/* line 676, ../../compass/sass/_iconic_font.scss */
.im-coffee:before {
  content: '\e0dc';
}

/* line 679, ../../compass/sass/_iconic_font.scss */
.im-diamond-o:before {
  content: '\e0dd';
}

/* line 682, ../../compass/sass/_iconic_font.scss */
.im-bell-active:before {
  content: '\e0de';
}

/* line 685, ../../compass/sass/_iconic_font.scss */
.im-history:before {
  content: '\e0df';
}

/* line 688, ../../compass/sass/_iconic_font.scss */
.im-gamepad:before {
  content: '\e0e0';
}

/* line 691, ../../compass/sass/_iconic_font.scss */
.im-binoculars:before {
  content: '\e0e1';
}

/* line 694, ../../compass/sass/_iconic_font.scss */
.im-paperplane:before {
  content: '\e0e2';
}

/* line 697, ../../compass/sass/_iconic_font.scss */
.im-wrench:before {
  content: '\e0e3';
}

/* line 700, ../../compass/sass/_iconic_font.scss */
.im-newspaper-o:before {
  content: '\e0e4';
}

/* line 703, ../../compass/sass/_iconic_font.scss */
.im-lifebuoy:before {
  content: '\e0e5';
}

/* line 706, ../../compass/sass/_iconic_font.scss */
.im-fingerprint:before {
  content: '\e0e6';
}

/* line 709, ../../compass/sass/_iconic_font.scss */
.im-date-o:before {
  content: '\e0e7';
}

/* line 712, ../../compass/sass/_iconic_font.scss */
.im-network:before {
  content: '\e0e8';
}

/* line 715, ../../compass/sass/_iconic_font.scss */
.im-target:before {
  content: '\e0e9';
}

/* line 718, ../../compass/sass/_iconic_font.scss */
.im-user-settings:before {
  content: '\e0ea';
}

/* line 721, ../../compass/sass/_iconic_font.scss */
.im-radio:before {
  content: '\e0eb';
}

/* line 724, ../../compass/sass/_iconic_font.scss */
.im-bank:before {
  content: '\e0ec';
}

/* line 727, ../../compass/sass/_iconic_font.scss */
.im-calculator:before {
  content: '\e0ed';
}

/* line 730, ../../compass/sass/_iconic_font.scss */
.im-battery-empty:before {
  content: '\e0ee';
}

/* line 733, ../../compass/sass/_iconic_font.scss */
.im-battery:before {
  content: '\e0ef';
}

/* line 736, ../../compass/sass/_iconic_font.scss */
.im-battery-full:before {
  content: '\e0f0';
}

/* line 739, ../../compass/sass/_iconic_font.scss */
.im-check-mark-circle-o:before {
  content: '\e0f1';
}

/* line 742, ../../compass/sass/_iconic_font.scss */
.im-x-mark-circle-o:before {
  content: '\e0f2';
}

/* line 745, ../../compass/sass/_iconic_font.scss */
.im-cube:before {
  content: '\e0f3';
}

/* line 748, ../../compass/sass/_iconic_font.scss */
.im-cubes:before {
  content: '\e0f4';
}

/* line 751, ../../compass/sass/_iconic_font.scss */
.im-warning-circle:before {
  content: '\e0f5';
}

/* line 754, ../../compass/sass/_iconic_font.scss */
.im-timer:before {
  content: '\e0f6';
}

/* line 757, ../../compass/sass/_iconic_font.scss */
.im-hashtag:before {
  content: '\e0f7';
}

/* line 760, ../../compass/sass/_iconic_font.scss */
.im-pointer:before {
  content: '\e0f8';
}

/* line 763, ../../compass/sass/_iconic_font.scss */
.im-paintbrush:before {
  content: '\e0f9';
}

/* line 766, ../../compass/sass/_iconic_font.scss */
.im-server:before {
  content: '\e0fa';
}

/* line 769, ../../compass/sass/_iconic_font.scss */
.im-car:before {
  content: '\e0fb';
}

/* line 772, ../../compass/sass/_iconic_font.scss */
.im-edit:before {
  content: '\e0fc';
}

/* line 775, ../../compass/sass/_iconic_font.scss */
.im-flask:before {
  content: '\e0fd';
}

/* line 778, ../../compass/sass/_iconic_font.scss */
.im-language:before {
  content: '\e0fe';
}

/* line 781, ../../compass/sass/_iconic_font.scss */
.im-anchor:before {
  content: '\e0ff';
}

/* line 784, ../../compass/sass/_iconic_font.scss */
.im-trophy:before {
  content: '\e100';
}

/* line 787, ../../compass/sass/_iconic_font.scss */
.im-umbrella:before {
  content: '\e101';
}

/* line 790, ../../compass/sass/_iconic_font.scss */
.im-cc-amex:before {
  content: '\e102';
}

/* line 793, ../../compass/sass/_iconic_font.scss */
.im-cc-visa:before {
  content: '\e103';
}

/* line 796, ../../compass/sass/_iconic_font.scss */
.im-cc-mastercard:before {
  content: '\e104';
}

/* line 799, ../../compass/sass/_iconic_font.scss */
.im-cc-paypal:before {
  content: '\e105';
}

/* line 802, ../../compass/sass/_iconic_font.scss */
.im-cc-amazon:before {
  content: '\e106';
}

/* line 805, ../../compass/sass/_iconic_font.scss */
.im-cc-bitcoin:before {
  content: '\e107';
}

/* line 808, ../../compass/sass/_iconic_font.scss */
.im-direction:before {
  content: '\e108';
}

/* line 811, ../../compass/sass/_iconic_font.scss */
.im-gift-card:before {
  content: '\e109';
}

/* line 814, ../../compass/sass/_iconic_font.scss */
.im-newsletter:before {
  content: '\e10a';
}

/* line 817, ../../compass/sass/_iconic_font.scss */
.im-ribbon:before {
  content: '\e10b';
}

/* line 820, ../../compass/sass/_iconic_font.scss */
.im-award:before {
  content: '\e10c';
}

/* line 823, ../../compass/sass/_iconic_font.scss */
.im-first-aid:before {
  content: '\e10d';
}

/* line 826, ../../compass/sass/_iconic_font.scss */
.im-cookie:before {
  content: '\e10e';
}

/* line 829, ../../compass/sass/_iconic_font.scss */
.im-data:before {
  content: '\e10f';
}

/* line 832, ../../compass/sass/_iconic_font.scss */
.im-data-delete:before {
  content: '\e110';
}

/* line 835, ../../compass/sass/_iconic_font.scss */
.im-data-validate:before {
  content: '\e111';
}

/* line 838, ../../compass/sass/_iconic_font.scss */
.im-import:before {
  content: '\e112';
}

/* line 841, ../../compass/sass/_iconic_font.scss */
.im-export:before {
  content: '\e113';
}

/* line 844, ../../compass/sass/_iconic_font.scss */
.im-reset:before {
  content: '\e114';
}

/* line 847, ../../compass/sass/_iconic_font.scss */
.im-radar:before {
  content: '\e115';
}

/* line 850, ../../compass/sass/_iconic_font.scss */
.im-idea:before {
  content: '\e116';
}

/* line 853, ../../compass/sass/_iconic_font.scss */
.im-pizza:before {
  content: '\e117';
}

/* line 856, ../../compass/sass/_iconic_font.scss */
.im-truck:before {
  content: '\e118';
}

/* line 859, ../../compass/sass/_iconic_font.scss */
.im-support:before {
  content: '\e119';
}

/* line 862, ../../compass/sass/_iconic_font.scss */
.im-color-fan:before {
  content: '\e11a';
}

/* line 865, ../../compass/sass/_iconic_font.scss */
.im-layer:before {
  content: '\e11b';
}

/* line 868, ../../compass/sass/_iconic_font.scss */
.im-factory:before {
  content: '\e11c';
}

/* line 871, ../../compass/sass/_iconic_font.scss */
.im-apartment:before {
  content: '\e11d';
}

/* line 874, ../../compass/sass/_iconic_font.scss */
.im-plane:before {
  content: '\e11e';
}

/* line 877, ../../compass/sass/_iconic_font.scss */
.im-headphones:before {
  content: '\e11f';
}

/* line 880, ../../compass/sass/_iconic_font.scss */
.im-megaphone:before {
  content: '\e120';
}

/* line 883, ../../compass/sass/_iconic_font.scss */
.im-folder-add:before {
  content: '\e121';
}

/* line 886, ../../compass/sass/_iconic_font.scss */
.im-barcode:before {
  content: '\e122';
}

/* line 889, ../../compass/sass/_iconic_font.scss */
.im-accessibility:before {
  content: '\e123';
}

/* line 892, ../../compass/sass/_iconic_font.scss */
.im-plugin:before {
  content: '\e124';
}

/* line 895, ../../compass/sass/_iconic_font.scss */
.im-pulse:before {
  content: '\e125';
}

/* line 898, ../../compass/sass/_iconic_font.scss */
.im-spotify:before {
  content: '\e126';
}

/* line 901, ../../compass/sass/_iconic_font.scss */
.im-dribbble:before {
  content: '\e127';
}

/* line 904, ../../compass/sass/_iconic_font.scss */
.im-google-play:before {
  content: '\e128';
}

/* line 907, ../../compass/sass/_iconic_font.scss */
.im-facebook-messenger:before {
  content: '\e129';
}

/* line 910, ../../compass/sass/_iconic_font.scss */
.im-wechat:before {
  content: '\e12a';
}

/* line 913, ../../compass/sass/_iconic_font.scss */
.im-line:before {
  content: '\e12b';
}

/* line 916, ../../compass/sass/_iconic_font.scss */
.im-git:before {
  content: '\e12c';
}

/*

SourceCodePro

*/
@font-face {
  font-family: "SourceCodePro";
  font-weight: 100;
  src: url("/static/fonts/SourceCodePro/SourceCodePro-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "SourceCodePro";
  font-weight: 100;
  font-style: italic;
  src: url("/static/fonts/SourceCodePro/SourceCodePro-ThinItalic.ttf") format("truetype");
}
@font-face {
  font-family: "SourceCodePro";
  font-weight: 200;
  src: url("/static/fonts/SourceCodePro/SourceCodePro-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "SourceCodePro";
  font-weight: 200;
  font-style: italic;
  src: url("/static/fonts/SourceCodePro/SourceCodePro-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "SourceCodePro";
  font-weight: 300;
  src: url("/static/fonts/SourceCodePro/SourceCodePro-Light.ttf") format("truetype");
}
@font-face {
  font-family: "SourceCodePro";
  font-weight: 300;
  font-style: italic;
  src: url("/static/fonts/SourceCodePro/SourceCodePro-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "SourceCodePro";
  font-weight: 400;
  src: url("/static/fonts/SourceCodePro/SourceCodePro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "SourceCodePro";
  font-weight: 400;
  font-style: italic;
  src: url("/static/fonts/SourceCodePro/SourceCodePro-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "SourceCodePro";
  font-weight: 500;
  src: url("/static/fonts/SourceCodePro/SourceCodePro-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "SourceCodePro";
  font-weight: 500;
  font-style: italic;
  src: url("/static/fonts/SourceCodePro/SourceCodePro-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "SourceCodePro";
  font-weight: 600;
  src: url("/static/fonts/SourceCodePro/SourceCodePro-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "SourceCodePro";
  font-weight: 600;
  font-style: italic;
  src: url("/static/fonts/SourceCodePro/SourceCodePro-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "SourceCodePro";
  font-weight: 700;
  src: url("/static/fonts/SourceCodePro/SourceCodePro-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "SourceCodePro";
  font-weight: 700;
  font-style: italic;
  src: url("/static/fonts/SourceCodePro/SourceCodePro-BoldItalic.ttf") format("truetype");
}
/*

POPPINS

*/
@font-face {
  font-family: "Poppins";
  font-weight: 100;
  src: url("/static/fonts/Poppins/Poppins-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 100;
  font-style: italic;
  src: url("/static/fonts/Poppins/Poppins-ThinItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 200;
  src: url("/static/fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 200;
  font-style: italic;
  src: url("/static/fonts/Poppins/Poppins-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 300;
  src: url("/static/fonts/Poppins/Poppins-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 300;
  font-style: italic;
  src: url("/static/fonts/Poppins/Poppins-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("/static/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: italic;
  src: url("/static/fonts/Poppins/Poppins-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("/static/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: italic;
  src: url("/static/fonts/Poppins/Poppins-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("/static/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: italic;
  src: url("/static/fonts/Poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("/static/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: italic;
  src: url("/static/fonts/Poppins/Poppins-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "VarelaRound";
  font-weight: 400;
  src: url("/static/fonts/VarelaRound-Regular.ttf") format("truetype");
}
/* Colour of the header */
/* Colour of the sidenav */
/* Darkish blue. Used for player cards */
/* Lighter blue. Used for non-selected tabs within player cards */
/* Very dark blue. Used for background of tab content within player cards */
/* very very dark blue */
/* For warning users. Used for kick button */
/* For alerting users. Used for ban button */
/* Used for highlighting something like a selection. Used for highlighted the selected tab within player cards */
/* For less important text, easier on the eyes. Used for steamIDs and stat text in player cards */
/* line 5, ../../compass/sass/c2.scss */
body {
  color: #f3f3f3;
  font-family: "SourceCodePro";
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
/* line 12, ../../compass/sass/c2.scss */
body * {
  box-sizing: border-box;
}

/* line 17, ../../compass/sass/c2.scss */
button, .small_button {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.4em 0.7em;
  background: transparent;
  color: #f3f3f3;
  font-size: 1em;
  font-family: "SourceCodePro";
  font-weight: 600;
  border: 0.1em solid #f3f3f3;
  border-radius: 0.15em;
  transition: all 0.2s ease 0s;
  cursor: pointer;
  outline: none;
}
/* line 34, ../../compass/sass/c2.scss */
button.im, button .im, .small_button.im, .small_button .im {
  font-family: "iconmonstr-iconic-font";
  font-size: 1em;
}
/* line 39, ../../compass/sass/c2.scss */
button:hover, .small_button:hover {
  background: #9996;
}
/* line 43, ../../compass/sass/c2.scss */
button.small_button, .small_button.small_button {
  font-size: 80%;
  font-weight: 400;
  padding: 0.2em 0.4em;
}
/* line 49, ../../compass/sass/c2.scss */
button:focus, .small_button:focus {
  border-color: #e66200;
}

/* line 54, ../../compass/sass/c2.scss */
.list {
  display: flex;
  flex-direction: column;
  margin: 1em;
}
/* line 61, ../../compass/sass/c2.scss */
.list > *:not(:last-child) {
  margin-bottom: 1em;
}

/* line 67, ../../compass/sass/c2.scss */
textarea, input {
  position: relative;
  padding: 0.3em 0.5em;
  border-radius: 0.15em;
  color: #f3f3f3;
  background-color: #333;
  border: 0.1em solid #1f1f1f;
  outline: none;
  font-family: "SourceCodePro";
  font-style: inherit;
  font-size: inherit;
}
/* line 79, ../../compass/sass/c2.scss */
textarea:focus, input:focus {
  border-color: #e66200;
}

/* line 84, ../../compass/sass/c2.scss */
p {
  line-height: 1.2em;
}

/* line 88, ../../compass/sass/c2.scss */
a {
  color: #e66200;
  text-decoration: underline;
}
/* line 92, ../../compass/sass/c2.scss */
a:hover, a:visited:hover {
  color: #f0a166;
}
/* line 96, ../../compass/sass/c2.scss */
a:visited {
  color: #e63c00;
}

/* line 101, ../../compass/sass/c2.scss */
.c2 {
  display: flex;
  flex-direction: row;
  background: #222;
  width: 100%;
  height: 100%;
}

/* line 1, ../../compass/sass/_c2_utility_components.scss */
.pages {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
/* line 7, ../../compass/sass/_c2_utility_components.scss */
.pages .sidebar {
  display: flex;
  flex-direction: column;
  width: 3em;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #00254a;
}
/* line 16, ../../compass/sass/_c2_utility_components.scss */
.pages .sidebar .entry {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  cursor: pointer;
  padding: 0.5em;
  background: #00254a;
  transition: all 0.2s ease 0s;
}
/* line 27, ../../compass/sass/_c2_utility_components.scss */
.pages .sidebar .entry:not(:last-child) {
  margin-bottom: 1em;
}
/* line 31, ../../compass/sass/_c2_utility_components.scss */
.pages .sidebar .entry:hover, .pages .sidebar .entry.selected {
  color: #e66200;
  background: #001e3b;
}
/* line 38, ../../compass/sass/_c2_utility_components.scss */
.pages .page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
/* line 46, ../../compass/sass/_c2_utility_components.scss */
.pages .page .page_head {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 600;
  padding: 0.8em 2em;
  background-image: url("/static/images/headerBanner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 60, ../../compass/sass/_c2_utility_components.scss */
.pages .page .page_head:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse at center, #00254a 0%, #00254a 15%, rgba(0, 0, 0, 0) 90%);
  z-index: 1;
  transform: translateX(-50%);
}
/* line 72, ../../compass/sass/_c2_utility_components.scss */
.pages .page .page_head h2 {
  z-index: 2;
  font-family: "Poppins";
}
/* line 78, ../../compass/sass/_c2_utility_components.scss */
.pages .page .page_body {
  max-height: 100%;
  overflow-y: auto;
}

/* line 85, ../../compass/sass/_c2_utility_components.scss */
.loading_spinner {
  font-size: 1em;
  animation-name: 'loading-spinner';
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes loading-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* line 103, ../../compass/sass/_c2_utility_components.scss */
.loading_spinner_or {
  display: inline-block;
}

/* line 110, ../../compass/sass/_c2_utility_components.scss */
.lockable .lock_overlay {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000a;
}

/* line 123, ../../compass/sass/_c2_utility_components.scss */
.tabs .tabs_selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  border-bottom: 0.15em solid #1a3b5c;
}
/* line 130, ../../compass/sass/_c2_utility_components.scss */
.tabs .tabs_selector .entry {
  position: relative;
  padding: 1em 0.5em;
  margin: 0 0.5em;
  font-family: "VarelaRound";
  color: #929292;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}
/* line 139, ../../compass/sass/_c2_utility_components.scss */
.tabs .tabs_selector .entry:first-child {
  margin-left: 0;
}
/* line 143, ../../compass/sass/_c2_utility_components.scss */
.tabs .tabs_selector .entry:last-child {
  margin-right: 0;
}
/* line 147, ../../compass/sass/_c2_utility_components.scss */
.tabs .tabs_selector .entry:after {
  content: '';
  position: absolute;
  bottom: -0.15em;
  left: 0;
  height: 0.15em;
  width: 100%;
  background: transparent;
  transition: all 0.2s ease 0s;
}
/* line 158, ../../compass/sass/_c2_utility_components.scss */
.tabs .tabs_selector .entry:hover, .tabs .tabs_selector .entry.selected {
  color: #f3f3f3;
}
/* line 161, ../../compass/sass/_c2_utility_components.scss */
.tabs .tabs_selector .entry:hover:after, .tabs .tabs_selector .entry.selected:after {
  background: #e66200;
}

/* line 175, ../../compass/sass/_c2_utility_components.scss */
.extendable .extendable_trigger {
  cursor: pointer;
}
/* line 178, ../../compass/sass/_c2_utility_components.scss */
.extendable .extendable_trigger .extend_arrow {
  margin-left: 1em;
  font-size: 0.8em;
}

/* line 189, ../../compass/sass/_c2_utility_components.scss */
.division {
  margin: 1em;
}
/* line 192, ../../compass/sass/_c2_utility_components.scss */
.division .division_head {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
  background: #00446c;
  font-family: "VarelaRound";
}
/* line 201, ../../compass/sass/_c2_utility_components.scss */
.division .division_body {
  position: relative;
  padding: 1em;
  background: #003d61;
}
/* line 206, ../../compass/sass/_c2_utility_components.scss */
.division .division_body:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.15em;
  background: linear-gradient(to bottom, #002941 0%, rgba(0, 61, 97, 0) 100%);
}

/* line 218, ../../compass/sass/_c2_utility_components.scss */
.steamid {
  font-size: 0.9em;
  font-style: italic;
  color: #aaa;
  transition: all 0.2s ease 0s;
}
/* line 224, ../../compass/sass/_c2_utility_components.scss */
.steamid:hover {
  color: #ddd;
}
/* line 228, ../../compass/sass/_c2_utility_components.scss */
.steamid .icon {
  font-size: 0.8em;
  position: relative;
  top: 0.1em;
  margin-right: 0.5em;
}

/* line 236, ../../compass/sass/_c2_utility_components.scss */
.toggleable_element {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
/* line 241, ../../compass/sass/_c2_utility_components.scss */
.toggleable_element .front {
  position: relative;
  margin-right: 0.5em;
}
/* line 245, ../../compass/sass/_c2_utility_components.scss */
.toggleable_element .front input[type="checkbox"] {
  position: absolute;
  left: -10000000000000px;
}
/* line 249, ../../compass/sass/_c2_utility_components.scss */
.toggleable_element .front input[type="checkbox"]:checked + span:before {
  background-color: #379249;
}
/* line 253, ../../compass/sass/_c2_utility_components.scss */
.toggleable_element .front input[type="checkbox"]:checked + span:after {
  transform: translateX(0.7em);
}
/* line 257, ../../compass/sass/_c2_utility_components.scss */
.toggleable_element .front input[type="checkbox"]:focus + span:before {
  border-color: #e66200 !important;
}
/* line 262, ../../compass/sass/_c2_utility_components.scss */
.toggleable_element .front .checkbox_slider {
  display: inline-block;
  height: 1em;
  line-height: 0;
  margin-right: 1.5em;
  cursor: pointer;
  margin-left: 1em;
}
/* line 270, ../../compass/sass/_c2_utility_components.scss */
.toggleable_element .front .checkbox_slider:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1.7em;
  height: 1em;
  background-color: #c92f2f;
  background-clip: content-box;
  border: 0.2em solid transparent;
  border-radius: 100000px;
  transition: all 0.2s ease;
}
/* line 284, ../../compass/sass/_c2_utility_components.scss */
.toggleable_element .front .checkbox_slider:after {
  content: '';
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  width: 1em;
  height: 1em;
  background: #f3f3f3;
  border-radius: 10000px;
  transition: all 0.2s ease;
  transform: translateX(0);
}
/* line 299, ../../compass/sass/_c2_utility_components.scss */
.toggleable_element .rear {
  max-width: 100%;
  word-break: break-all;
  word-wrap: break-word;
}

/* line 306, ../../compass/sass/_c2_utility_components.scss */
.player_state {
  font-size: 1.5em;
  min-width: 2.5em;
  text-align: center;
}
/* line 311, ../../compass/sass/_c2_utility_components.scss */
.player_state .id {
  font-family: "Poppins";
  font-weight: 500;
  color: #379249;
}
/* line 317, ../../compass/sass/_c2_utility_components.scss */
.player_state .offline {
  color: #c92f2f;
  font-size: 0.8em;
}

/* line 323, ../../compass/sass/_c2_utility_components.scss */
.status_bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0.7em 2em;
  color: #f3f3f3;
  text-align: center;
  font-size: 2em;
  z-index: 99999;
}
/* line 334, ../../compass/sass/_c2_utility_components.scss */
.status_bar.success {
  background: linear-gradient(45deg, #2f7c3e, #55a264);
}
/* line 338, ../../compass/sass/_c2_utility_components.scss */
.status_bar.error {
  background: linear-gradient(45deg, #ab2828, #d14e4e);
}

/* line 343, ../../compass/sass/_c2_utility_components.scss */
.error_popup {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #000a;
}
/* line 352, ../../compass/sass/_c2_utility_components.scss */
.error_popup .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-50%) translateY(-50%);
  background: #c92f2f;
  padding: 2em 3em;
  color: #f3f3f3;
  text-align: center;
  font-size: 1.3em;
}
/* line 368, ../../compass/sass/_c2_utility_components.scss */
.error_popup .inner .title {
  font-size: 2.5em;
}
/* line 372, ../../compass/sass/_c2_utility_components.scss */
.error_popup .inner .message {
  height: 100%;
  width: 100%;
  resize: none;
  background: #c28d8d;
  color: #222;
  margin: 2em 0;
}
/* line 381, ../../compass/sass/_c2_utility_components.scss */
.error_popup .inner button {
  font-size: inherit;
}

/* line 387, ../../compass/sass/_c2_utility_components.scss */
.confirm_button {
  color: #f3f3f3;
  position: relative;
  transition: all 0.2s ease 0s;
}
/* line 392, ../../compass/sass/_c2_utility_components.scss */
.confirm_button.serious {
  font-family: "Poppins";
  text-transform: uppercase;
  letter-spacing: 0.15em;
}
/* line 404, ../../compass/sass/_c2_utility_components.scss */
.confirm_button.small_button:hover.confirmed:before {
  opacity: 0;
}
/* line 409, ../../compass/sass/_c2_utility_components.scss */
.confirm_button.small_button:hover:not(.confirmed) {
  color: transparent;
}
/* line 412, ../../compass/sass/_c2_utility_components.scss */
.confirm_button.small_button:hover:not(.confirmed):before {
  color: #f3f3f3;
}
/* line 421, ../../compass/sass/_c2_utility_components.scss */
.confirm_button:not(.small_button):hover {
  padding-left: 2.2em;
}
/* line 428, ../../compass/sass/_c2_utility_components.scss */
.confirm_button:hover:before, .confirm_button:hover:after {
  opacity: 1;
}
/* line 432, ../../compass/sass/_c2_utility_components.scss */
.confirm_button:hover.confirmed {
  background: #379249 !important;
}
/* line 435, ../../compass/sass/_c2_utility_components.scss */
.confirm_button:hover.confirmed:before {
  content: '\e062';
}
/* line 439, ../../compass/sass/_c2_utility_components.scss */
.confirm_button:hover.confirmed:after {
  opacity: 0;
}
/* line 444, ../../compass/sass/_c2_utility_components.scss */
.confirm_button:hover:not(.confirmed) {
  color: #aaaaaa;
}
/* line 449, ../../compass/sass/_c2_utility_components.scss */
.confirm_button:before {
  content: '\e061';
  opacity: 0;
  position: absolute;
  left: 0.5em;
  top: 50%;
  color: #f3f3f3;
  transform: translateY(-50%);
  font-family: "iconmonstr-iconic-font";
  transition: all 0.2s ease 0s;
  z-index: 2;
}
/* line 462, ../../compass/sass/_c2_utility_components.scss */
.confirm_button:after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--confirm-button-width);
  background: #c92f2f;
  border-radius: 0.15em;
  z-index: 1;
}

/* line 5, ../../compass/sass/_c2_module_core_components.scss */
.players_management .player_list .player {
  background: #07192B;
}
/* line 8, ../../compass/sass/_c2_module_core_components.scss */
.players_management .player_list .player.is_banned .name {
  color: #c92f2f;
}
/* line 12, ../../compass/sass/_c2_module_core_components.scss */
.players_management .player_list .player .head {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em 1em;
}
/* line 22, ../../compass/sass/_c2_module_core_components.scss */
.players_management .player_list .player .head .name_container {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}
/* line 27, ../../compass/sass/_c2_module_core_components.scss */
.players_management .player_list .player .head .name_container .name {
  font-family: "Poppins";
  font-size: 1.3em;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin-bottom: 0.2em;
}
/* line 36, ../../compass/sass/_c2_module_core_components.scss */
.players_management .player_list .player .head .name_container .name .extend_arrow {
  font-size: 0.8em;
  margin-left: 0.5em;
  line-height: 1.2em;
}
/* line 43, ../../compass/sass/_c2_module_core_components.scss */
.players_management .player_list .player .head .name_container .steamid {
  font-size: 0.9em;
  font-style: italic;
  color: #aaa;
  transition: all 0.2s ease 0s;
}
/* line 49, ../../compass/sass/_c2_module_core_components.scss */
.players_management .player_list .player .head .name_container .steamid:hover {
  color: #ddd;
}
/* line 53, ../../compass/sass/_c2_module_core_components.scss */
.players_management .player_list .player .head .name_container .steamid .icon {
  font-size: 0.8em;
  position: relative;
  top: 0.1em;
  margin-right: 0.5em;
}
/* line 62, ../../compass/sass/_c2_module_core_components.scss */
.players_management .player_list .player .head .gap {
  width: 100%;
}
/* line 66, ../../compass/sass/_c2_module_core_components.scss */
.players_management .player_list .player .head .buttons {
  display: flex;
  flex-direction: row;
  margin-left: 1em;
}
/* line 71, ../../compass/sass/_c2_module_core_components.scss */
.players_management .player_list .player .head .buttons button:not(:last-child) {
  margin-right: 1em;
}
/* line 77, ../../compass/sass/_c2_module_core_components.scss */
.players_management .player_list .player .body {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background: #061422;
}
/* line 83, ../../compass/sass/_c2_module_core_components.scss */
.players_management .player_list .player .body .player_role {
  padding: 0.3em 0.6em;
  font-size: 1.2em;
}
/* line 87, ../../compass/sass/_c2_module_core_components.scss */
.players_management .player_list .player .body .player_role .name {
  color: #f3f3f3;
  margin-right: 0.5em;
}
/* line 92, ../../compass/sass/_c2_module_core_components.scss */
.players_management .player_list .player .body .player_role.enabled {
  background: #379249;
}
/* line 96, ../../compass/sass/_c2_module_core_components.scss */
.players_management .player_list .player .body .player_role.disabled {
  background: #c92f2f;
}

/* line 107, ../../compass/sass/_c2_module_core_components.scss */
.vehicles_management .vehicle_list {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
/* line 112, ../../compass/sass/_c2_module_core_components.scss */
.vehicles_management .vehicle_list .vehicle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em 1em;
  background: #07192B;
}
/* line 119, ../../compass/sass/_c2_module_core_components.scss */
.vehicles_management .vehicle_list .vehicle .id {
  font-size: 1.5em;
  min-width: 2.5em;
  text-align: center;
  color: #f3f3f3;
  font-weight: 500;
}
/* line 127, ../../compass/sass/_c2_module_core_components.scss */
.vehicles_management .vehicle_list .vehicle .name {
  font-size: 1.3em;
  font-weight: 500;
  margin-right: 1em;
}
/* line 133, ../../compass/sass/_c2_module_core_components.scss */
.vehicles_management .vehicle_list .vehicle .gap {
  width: 100%;
}

/* line 148, ../../compass/sass/_c2_module_core_components.scss */
.roles_management .new_role_container input {
  width: 10em;
  margin-right: 1em;
}
/* line 156, ../../compass/sass/_c2_module_core_components.scss */
.roles_management .role_list .role {
  padding: 1em;
  background: #07192B;
  color: #f3f3f3;
}
/* line 161, ../../compass/sass/_c2_module_core_components.scss */
.roles_management .role_list .role .role_top_container {
  display: flex;
  flex-direction: row;
}
/* line 165, ../../compass/sass/_c2_module_core_components.scss */
.roles_management .role_list .role .role_top_container .name {
  font-family: "VarelaRound";
  font-size: 1.5em;
  font-weight: 500;
}
/* line 171, ../../compass/sass/_c2_module_core_components.scss */
.roles_management .role_list .role .role_top_container .buttons {
  margin-left: 2em;
}
/* line 176, ../../compass/sass/_c2_module_core_components.scss */
.roles_management .role_list .role .member_list {
  margin: 1em 0;
}
/* line 179, ../../compass/sass/_c2_module_core_components.scss */
.roles_management .role_list .role .member_list .member {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em 1em;
  background: #000c12;
}
/* line 186, ../../compass/sass/_c2_module_core_components.scss */
.roles_management .role_list .role .member_list .member .name {
  font-family: "Poppins";
  font-size: 1.2em;
}

/* line 211, ../../compass/sass/_c2_module_core_components.scss */
.rules_management .new_rule_container textarea {
  width: 100%;
  min-height: 2em;
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 1em;
}
/* line 222, ../../compass/sass/_c2_module_core_components.scss */
.rules_management .rule_list .rule {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #07192B;
  padding: 0.5em 1em;
}
/* line 229, ../../compass/sass/_c2_module_core_components.scss */
.rules_management .rule_list .rule:not(:last-child) {
  margin-bottom: 1em;
}
/* line 233, ../../compass/sass/_c2_module_core_components.scss */
.rules_management .rule_list .rule .text {
  margin-right: 1em;
  word-break: break-all;
  word-wrap: break-word;
}

/* line 269, ../../compass/sass/_c2_module_core_components.scss */
.logs_management .log_list {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
/* line 274, ../../compass/sass/_c2_module_core_components.scss */
.logs_management .log_list .log_entry {
  display: flex;
  flex-direction: row;
  padding: 0.2em 0.4em;
}
/* line 279, ../../compass/sass/_c2_module_core_components.scss */
.logs_management .log_list .log_entry:not(:last-child) {
  margin-bottom: 0.1em;
}
/* line 283, ../../compass/sass/_c2_module_core_components.scss */
.logs_management .log_list .log_entry .time {
  margin-right: 1em;
}

/* line 113, ../../compass/sass/c2.scss */
body {
  font-size: 26px;
}

@media (min-width: 576px) {
  /* line 118, ../../compass/sass/c2.scss */
  body {
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  /* line 124, ../../compass/sass/c2.scss */
  body {
    font-size: 22px;
  }
}
@media (min-width: 992px) {
  /* line 130, ../../compass/sass/c2.scss */
  body {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  /* line 136, ../../compass/sass/c2.scss */
  body {
    font-size: 22px;
  }
}
@media (min-width: 1400px) {
  /* line 142, ../../compass/sass/c2.scss */
  body {
    font-size: 24px;
  }
}
@media (min-width: 1800px) {
  /* line 148, ../../compass/sass/c2.scss */
  body {
    font-size: 27px;
  }
}
@media (min-width: 2200px) {
  /* line 154, ../../compass/sass/c2.scss */
  body {
    font-size: 32px;
  }
}
